[project]
	description = A sample code solutions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sam123ben
[access "refs/for/refs/*"]
	read = group user/Sam123ben
	push = group user/Sam123ben
	label-Code-Review = -2..+2 group user/Sam123ben
	label-Verified = -1..+1 group user/Sam123ben
	rebase = group user/Sam123ben
	removeReviewer = group user/Sam123ben
	submit = group user/Sam123ben
[access "refs/heads/*"]
	read = group user/Sam123ben
	create = group user/Sam123ben
	push = +force group user/Sam123ben
	pushMerge = group user/Sam123ben
[access "refs/tags/*"]
	push = +force group user/Sam123ben
	pushTag = group user/Sam123ben
	pushSignedTag = group user/Sam123ben
